:root {
  --iOSHeading: 100px;
}

body {
  margin: 0px;
  background-color: #333;
  font-family: sans-serif;
  color: white;
}

#settings {
  position: fixed;
  bottom: 0px;
  z-index: 100;
  right: 10px;
}
.promo {
  display: inline-block;
  margin-left: 2px;
}

iframe {
  box-shadow: 0px 0px 10px 2px #000;
}

.fillHeight {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
}

#app {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* https://twitter.com/AllThingsSmitty/status/1254151507412496384 */
}

#wrapper {
  margin: auto;
  position: relative;
  width: 853px;
  height: 480px;
  background-color: rgba(0,0,0,0.2);
  z-index: 2;
  margin-top: 50px;
}

@media (max-width: 500px) {
  #wrapper {
    margin-top: 2px;
  }
}

input[type=radio] {
  display: none;
  transform: translate(-18px);
  margin: 0px;
  width: 0px;
  height: 0px;
}

.video-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

ul {
  margin-top: 0px;
}

.shrek .menuEntry {
  background-position: bottom center;
  color: transparent;
  display: inline-block;
  opacity: 0.01;
  user-select: none;
  background-image: url(/static/highlights/underline-fat.png);
  filter: grayscale(1);
  
  /* for underlines */
  background-size: auto 10px;
  background-repeat: repeat-x;
  background-repeat-y: no-repeat;
  background-repeat-x: repeat;
  cursor: pointer;
}

.shrek .menuEntry:hover, .shrek .menuEntry:focus {
  opacity: 0.8;
  outline: none;
}


@keyframes insertDisc {
  0% { transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 0, 0deg) scale(1); }
  70% { transform: translate3d(-50%, -150%, 0px) rotate3d(1, 0, 0, 80deg) scale(1); }
  100% { transform: translate3d(-50%, -200%, 150px) rotate3d(1, 0, 0, 80deg) scale(0.1); }
}